{% extends "index.html" %}
{% block content %}
	<section>
		<p>GREETING: {{greeting}}</p>

		<form method="post">
			<label for="username">Username:</label>
			<input name="username" type="text" maxlength="30" /><br />
			
			<label for="password">Password:</label>
			<input name="password" type="password" maxlength="15" /><br />
			
			<input name="log_in" type="submit" value="Log In" /><br />
			<input name="new_user" type="submit" value="New User" />
		</form>

		<a href="/">Forgot Password?</a>
	
	</section>
{% endblock %}